node_modules/
coverage/
e2e-test-report/
generated/
packages/backend/backstage-data/
.local/
dist-types/
.backstage-dev.log
backstage-data/
.yarn/install-state.gz
__pycache__/
*.py[cod]
.pytest_cache/
